<app-top-bar [showDiv]="false"></app-top-bar>

<div class="thank-you-container">
  <div class="thank-you-page left">
    <div class="thank-you-content">
      <h1>
        Thank you
        <br />
        <span class="highlight-name">{{ userName }}</span>
        <span class="light-grey"> for your</span><br />
        <span class="highlight-feedback">feedback!</span>
      </h1>
    </div>
    <div>
      <a href="/" class="homepage-link"
        >Go to Homepage
        <img
          src="assets/thankyou/up-right.png"
          class="nav-icon-img"
          alt="Nav Icon"
        />
      </a>
    </div>
  </div>
</div>
