.app-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 5%;
  min-height: 100vh;

  .left,
  .right {
    flex: 1;
    max-width: 500px;
  }

  .right {
    border-radius: 10px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .left,
    .right {
      max-width: 100%;
      margin: 10px 0;
    }
  }
}
